@import "src/assets/styles/main.scss";

%row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.header,
.header__end,
.header__middle {
  @extend %row;
}

.header {
  padding: 45px 50px;

  & > a:first-child {
    @include logo;
  }

  &__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: $gray;

    & > p {
      margin: 0;
      padding-bottom: 4px;
    }
    & > div {
      width: 7px;
      height: 7px;
      border-radius: 6px;
      margin: 0 auto;
    }

    &--selected {
      color: $blue;
      & > div {
        background-color: $blue;
      }
    }

    &:hover {
      color: $blue;
    }
  }

  &__smallItem {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $brightGray;
    cursor: pointer;

    & > p {
      margin: 0;
      padding-bottom: 3px;
    }
    & > div {
      width: 4px;
      height: 4px;
      border-radius: 6px;
      margin: 0 auto;
    }

    &--selected {
      color: $blue;
      & > div {
        background-color: $blue;
      }
    }

    &:hover {
      color: $blue;
    }
  }

  &__end {
    & > div {
      @extend %row;
      column-gap: 15px;
    }

    &--mob {
      @include dots;
      display: none;
    }
  }

  &__link {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $blue;
    text-decoration: none;

    & > img {
      padding-left: 10px;
      padding-bottom: 3px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .header {
    padding: 34px 42px;

    &__middle {
      display: none;
    }
  }
}

@media screen and (max-width: $phone) {
  .header {
    padding: 29px 40px;

    & > a:first-child {
      font-size: 30px;
      line-height: 38px;
    }

    &__end {
      display: none;

      &--mob {
        display: flex;
      }
    }
  }
}
