@import "src/assets/styles/main.scss";

%row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.header,
.header__end,
.header__middle {
  @extend %row;
}

.header {
  padding: 45px 50px;

  & > a:first-child {
    @include logo;
  }
}

.header__end {
  & > div {
    @extend %row;
    column-gap: 15px;
  }
}

.item {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: $gray;
  transition: all 0.4s ease;

  & > p {
    @include zero;
    padding-bottom: 4px;
  }
  & > div {
    width: 7px;
    height: 7px;
    border-radius: 6px;
    margin: 0 auto;
  }

  &__selected {
    color: $blue;
    & > div {
      background-color: $blue;
    }
  }

  &:hover {
    transition: all 0.4s ease;
    color: $blue;
  }
}

.smallItem {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $lightGray;
  cursor: pointer;

  & > p {
    @include zero;
    padding-bottom: 3px;
  }
  & > div {
    width: 4px;
    height: 4px;
    border-radius: 6px;
    margin: 0 auto;
  }

  &__selected {
    color: $blue;
    & > div {
      background-color: $blue;
    }
  }

  &:hover {
    transition: all 0.4s ease;
    color: $blue;
  }
}

.header__end_link {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $blue;
  text-decoration: none;

  & > img {
    padding-left: 10px;
    padding-bottom: 3px;
  }
}

.header__end__mob {
  @include dots;
  display: none;
}

@media screen and (max-width: $tablet) {
  .header__middle {
    display: none;
  }
}

@media screen and (max-width: $phone) {
  .header__end {
    display: none;
  }

  .header__end__mob {
    display: flex;
  }
}
