@import "src/assets/styles/main.scss";

%row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.footer {
  background: linear-gradient(93.29deg, #388af3 21.04%, #a483e2 88.77%);
  padding: 42px 40px 20px;
  color: white;

  & > div {
    @extend %row;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.footer__middle {
  @extend %row;
  flex-wrap: wrap;
  width: 100%;

  & > a:first-child {
    @include logo;
    color: white;
  }
}

.middle__block {
  @extend %row;
  flex-wrap: wrap;
  max-width: 890px;
}

.middle__block__row {
  @extend %row;
}

.middle__block__col {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & > h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 5px;
    padding-top: 10px;
    @include zero;

    & > p {
      @include zero;
    }
    & > div {
      background-color: white;
      width: 9px;
      height: 9px;
      border-radius: 6px;
      margin-top: 3px;
    }
  }

  & > img {
    cursor: pointer;
  }
}

.middle__block__item {
  @include zero;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 186px;
  color: white;
}

a.middle__block__item {
  & > img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%)
      hue-rotate(44deg) brightness(105%) contrast(101%);
    transform: rotate(-45deg);
  }
  &:hover {
    filter: brightness(0) saturate(100%) invert(11%) sepia(8%) saturate(14%)
      hue-rotate(5deg) brightness(93%) contrast(78%);
  }
}

.footer__end {
  @extend %row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  & > p {
    @include zero;
  }

  & > a {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: $tablet) {
  .footer {
    padding: 38px 40px 26px 72px;
    & > div {
      gap: 126px;
    }
  }
}

@media screen and (max-width: 840px) {
  .footer {
    padding: 51px 40px 21px 21px;
  }
  .middle__block {
    column-gap: 20px;
  }
}

@media screen and (max-width: 466px) {
  .footer {
    & > div {
      gap: 57px;
    }
  }

  .footer__middle {
    row-gap: 44px;
  }

  .middle__block {
    column-gap: 20px;
  }

  .footer__end {
    & > p {
      order: 2;
    }

    & > a {
      order: 1;
    }
  }
}
