@import "src/assets/styles/main.scss";

.app {
  height: 100vh;
  font-family: "Gilroy";
  font-style: normal;
}

.app__main {
  display: flex;
  align-items: center;
  gap: 277px;
  padding: 100px 50px 162px;
  min-height: calc(100vh - 428px);

  & > div:nth-child(2) {
    width: 100%;
  }
}

.app__main__dots {
  @include dots;
}

.app__main__crumbs {
  display: flex;
  padding-bottom: 61px;
  & > p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: $darkGray;
  }
  & > p:nth-child(2) {
    font-weight: 600;
  }
}

@media screen and (max-width: $tablet) {
  .app__main {
    padding: 75px 42px 100px;
  }

  .app__main__dots {
    display: none;
  }

  .app__main__crumbs {
    & > p {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@media screen and (max-width: $phone) {
  .app__main {
    padding: 33px 40px 100px;
  }

  .app__main__crumbs {
    & > p {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
